<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  
  <connectionStrings>
    <add name="ValaisTourism" connectionString="Data Source=153.109.124.35;
         Initial Catalog=testConnection;
         User ID=6231db;Password=Pwd46231.;
         Integrated Security=False;
         MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient"/>


    <add name="ValaisTourismLocal"
     connectionString="Data Source=WIN-G0TDUCFNFRP;
     Initial Catalog=ValaisTourism;
     Integrated Security=False;User Id=mayura; Password=hesso;
     MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>


  


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
